@import "../../variables";
.main {
  border-top: 5px solid #2AECC3;
  box-shadow: 1px 2px 4px 0.5px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 17rem auto 18rem;
  grid-template-rows: auto auto;
  color: #071E33;
  @media (max-width: $lg) {
    grid-template-columns: 16rem auto 16rem;
  }
  @media (max-width: $md) {
    display: flex;
    flex-direction: column;
  }

  &_header {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: auto 1fr auto auto;
    padding: 2rem 3.5rem;
    border-bottom: 1px solid #ededed;
    grid-column: span 3;
    align-items: center;
    @media (max-width: $lg) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @media (max-width: $md) {
      padding: 1.5rem 0 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      grid-gap: 0;
      border-bottom: 0;
    }
  }

  &_left-aside {
    border-right: 1px solid #ededed;
    @media (max-width: $md) {
      border-right: 0;
      border-bottom: 1px solid #ededed;
    }
  }

  &_right-aside {
    border-left: 1px solid #ededed;
    @media (max-width: $md) {
      border-left: 0;
    }
  }
}
