@import "../../variables";
.state-picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 1 / 2;
  @media (max-width: $md) {
    border-bottom: 1px solid #ededed;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }

  &_label {
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: -0.005em;
    @media (max-width: $md) {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  &_picker {
    margin-bottom: 0.5rem;
  }

  &_hint {
    font-size: 1rem;
    line-height: 1.1rem;
    letter-spacing: -0.005em;
  }
}
