@import "../../variables";
.chart {
  padding-top: 1.75rem;
  padding-bottom: 5rem;
  overflow: hidden;
  @media (max-width: $md) {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #ededed;
  }

  &_heading {
    margin-bottom: 2rem;
    padding-left: 2rem;
    font-weight: 700;
    font-size: 1rem;
    @media (max-width: $md) {
      padding-left: 1rem;
      max-width: 12.5rem;
    }
  }

  &_chart {
    width: 100%;
    margin-left: -2rem;
    transform: translateX(4rem);
    outline: none;
    @media (max-width: $md) {
      transform: translateX(2.75rem);
    }
  }
}
