.chart {
  padding-top: 1.5rem;
  padding-left: 2rem;
  overflow: hidden;

  &_heading {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1rem;
  }

  &_chart {
    margin-left: -25px;
    transform: translateX(25px);
  }
}
