body {
  margin: 0;
  background-color: #f0f0f0;
}

.app {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Libre Franklin", sans-serif;

  &_header {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 10rem;
    background-color: #011e35;
  }

  &_header-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &_header-heading {
    font-weight: 700;
    color: #fff;
    font-size: 2rem;
  }

  &_header-text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
  }

  &_header-link {
    color: #fff;
  }

  &_supervision-success {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    margin-top: -8rem;
  }

  &_footer {
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  &_footer-heading {
    font-weight: 700;
    color: #000;
    font-size: 1.25rem;
  }

  &_footer-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
