.app {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Libre Franklin", sans-serif;
}

.app-header {
  margin-bottom: 30px;
  text-align: center;
}
